<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gareeb|About</title>
</head>

<body>

    {% extends 'index.html' %}
    {% block content %}

    <br><br><br>
    <h1 style="text-align: center;">About gareeb.com</h1><br><br>
    <div class="container">
        <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus, nunc
            et
            tincidunt cursus, mauris neque aliquam eros, vitae tincidunt leo orci et felis. Maecenas eget mi at erat
            vestibulum porttitor. Integer imperdiet consectetur nulla eu accumsan. Donec convallis, lectus et commodo
            pharetra, est nisl commodo dui, id sagittis mauris ipsum pellentesque nulla. Suspendisse sagittis sem id
            eros
            ultricies, vel mollis augue tristique. Mauris euismod massa mi, cursus fermentum quam blandit id. Etiam
            volutpat
            porttitor mauris, ut vulputate orci commodo a. Sed in leo accumsan, varius leo vitae, placerat nulla. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam accumsan
            faucibus
            tortor vel sodales. Phasellus orci diam, pharetra sed tortor eget, mollis porta dolor. Nam tempor ipsum
            vitae
            neque finibus consectetur. Fusce in ligula hendrerit, scelerisque arcu at, interdum sem. Donec ullamcorper
            dui
            quis nisi vulputate imperdiet. Sed sed mauris a sem fermentum sodales eu semper magna.

            Sed mattis nibh dui, id feugiat dui sagittis a. Sed porta rhoncus purus, at hendrerit neque congue sed. Cras
            scelerisque rutrum ante, at convallis dui dapibus rhoncus. Morbi consectetur ex varius metus accumsan
            tempus.
            Praesent non imperdiet dui, quis elementum felis. Proin lorem massa, finibus sit amet consectetur quis,
            accumsan
            eu eros. Phasellus vitae dui vestibulum, feugiat metus sed, pulvinar augue. Fusce pulvinar sit amet velit et
            blandit. Sed non sodales felis. Pellentesque facilisis lobortis felis et vehicula. Ut non turpis et massa
            rutrum
            feugiat. Curabitur vitae leo posuere, accumsan enim quis, pharetra turpis. Phasellus ultrices sagittis erat,
            in
            luctus arcu vestibulum at. Nunc sed convallis leo, et consequat mauris. Sed aliquam metus vitae odio
            pharetra,
            nec interdum mauris laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    {% endblock %}

</body>

</html>