<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gareeb|Contact</title>
</head>

<body>

    {% extends 'index.html' %}
    {% block content %}

    <br><br><br><br><br><br><br><br>
    <h1 style="text-align: center;">Connect with us</h><br>
    <h5 style="text-align: center;">(+91)-(990)-(0000000)</h5>
    <h5 style="text-align: center;">gareeb@info.co.in</h5>

    {% endblock %}

</body>

</html>